<number-nook></number-nook>

<number-nook [integer]="0"></number-nook>
<number-nook [integer]="1"></number-nook>

<number-nook [integer]="11"></number-nook>
<number-nook [integer]="16"></number-nook>
<number-nook [integer]="20"></number-nook>
<number-nook [integer]="21"></number-nook>
<number-nook [integer]="30"></number-nook>

<number-nook [integer]="100"></number-nook>
<number-nook [integer]="101"></number-nook>
<number-nook [integer]="110"></number-nook>
<number-nook [integer]="119"></number-nook>
<number-nook [integer]="121"></number-nook>

<number-nook [integer]="1001"></number-nook>
<number-nook [integer]="1024"></number-nook>
<number-nook [integer]="2200"></number-nook>
<number-nook [integer]="4096"></number-nook>
<number-nook [integer]="7960"></number-nook>

<number-nook [integer]="10000"></number-nook>
<number-nook [integer]="52003"></number-nook>
<number-nook [integer]="65213"></number-nook>

<number-nook [integer]="105263"></number-nook>

<number-nook [integer]="4105263"></number-nook>
<number-nook [integer]="984105263"></number-nook>

<number-nook [integer]="6214890780"></number-nook>
<number-nook [integer]="16214890780"></number-nook>

<number-nook [integer]="816214890780"></number-nook>
<number-nook [integer]="900000000000"></number-nook>
