<div class="dp" [innerHTML]="decimalPlace"></div>

<div class="scale">
  x<span class="base10">{{ base10 }}</span>
</div>

<div class="eggbox">
  @for (i of ten; track i) {
    <div
      on-tap="onTap($event, i)"
      on-mouseenter="hoverIndex = i"
      on-mouseleave="hoverIndex = -1"
      [class.egg--puffed]="hoverIndex == i"
      [class.egg--puffffed]="puffIndex == i"
      [ngClass]="{ 'egg--fill': i <= digit.symbol }"
      class="egg"
    >
      <span class="size">{{ base10 }}</span>
    </div>
  }
</div>
