.and {
    font-size: 12px;
    margin: 0.5em;
}

.spell {
    margin-bottom: 1em;
    font-weight: bold;

    .spell__cardinal {
        padding: 2px 8px;
        border-radius: 8px;
    }

    .span__numeral {
        padding: 2px 8px;
    }

    .span__numeral.span__numeral--empty {
        padding: 0;
    }

}