.and {
    font-size: 12px;
    margin: 0.5em;
}

.spell {
    margin-bottom: 1em;
    font-weight: bold;

    .spell__numex {
        padding: 2px 8px;
        border-radius: 8px;
    }

    .spell__comma:not(:empty) {
        padding-left: 8px;
    }
}